In [ ]:
##print("Question 1: Create a list of first 10 square numbers")
first_list=[1,2,3,4,5,6,7,8,9,10]
result=list(map(lambda x: x**2, first_list))
print(result)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
##print("\nQuestion 2: Find the sum of all even numbers in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]")
number=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
total= 0
for num in number:
    if num%2==0:
      total +=num
print(f"the sum of all even number are: {total}")

the sum of all even number are: 30

In [ ]:
##print("\nQuestion 3: Remove duplicates from [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]")
numbers=[1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
unique=[]

for num in numbers:
    if num not in unique:
      unique.append(num)
print(unique)

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
##print("\nQuestion 4: Sort the list [64, 34, 25, 12, 22, 11, 90] in descending order")
order=[64, 34, 25, 12, 22, 11, 90]
order.sort(reverse=True)
print(order)

[90, 64, 34, 25, 22, 12, 11]

In [ ]:
##print("\nQuestion 5: Find the average of numbers in [15, 23, 31, 42, 56, 78, 91]")
numberss=[15, 23, 31, 42, 56, 78, 91]
result=sum(numberss)/len(numberss)
print(f"the average is: {result}")

the average is: 48.0

In [ ]:
##print("\nQuestion 6: Create a list of first 15 Fibonacci numbers")
n=15
fibonacci_list=[]
a=0
b=1
for i in range(n):
  fibonacci_list.append(a)
  a,b=b,a+b
print("Fibonacci number:",n)
print(fibonacci_list)

Fibonacci number: 15
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

In [ ]:
##print("\nQuestion 7: Find the second largest number in [45, 67, 23, 89, 12, 34, 78]")
largest=[45, 67, 23, 89, 12, 34, 78]
largest.sort()
print(largest)
print(f"Second largest number is:{largest[-2]}")

[12, 23, 34, 45, 67, 78, 89]
Second largest number is:78

In [ ]:
##print("\nQuestion 8: Reverse the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]")
num_list= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(f"The given list is: {num_list}")
num_list.sort(reverse=True)
print(f"The reversed list is: {num_list}")

The given list is: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
The reversed list is: [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
##print("\nQuestion 9: Count how many times 5 appears in [1, 5, 2, 5, 3, 5, 4, 5, 6]")
list_num=[1, 5, 2, 5, 3, 5, 4, 5, 6]
count=list_num.count(5)
print(f"the five appears:{count} ")

the five appears:4

In [3]:
##print("\nQuestion 10: Create a list of prime numbers between 1 and 50")
prime=[]
for num in range(2,50):
    for i in range(2,int(num**0.5)+1):
       if num % i==0:
        break
    else:
      prime.append(num)
print(prime)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [ ]:
##print("\nQuestion 11: Flatten nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]")
nested_list=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flat=[]
for i in nested_list:
  for num in i:
    flat.append(num)
print(flat)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
##print("\nQuestion 12: Find common elements between [1, 2, 3, 4, 5] and [4, 5, 6, 7, 8]")
list1=[1, 2, 3, 4, 5] 
list2=[4, 5, 6, 7, 8]
common=list(set(list1)&set(list2))
print(common)

[4, 5]

In [6]:
##print("\nQuestion 13: Create a list of lists: [[1, 2], [3, 4], [5, 6]]")
nested_list=[[1, 2], [3, 4], [5, 6]]
print(nested_list)

[[1, 2], [3, 4], [5, 6]]

In [9]:
##print("\nQuestion 14: Find the sum of each sublist in [[1, 2, 3], [4, 5, 6], [7, 8, 9]]")
nested_lists=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
result=list(map(sum,nested_lists))
print(result)

[6, 15, 24]

In [11]:
##print("\nQuestion 15: Transpose the matrix [[1, 2, 3], [4, 5, 6], [7, 8, 9]]")
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

transpose = list(map(list, zip(*matrix)))
print(transpose)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [13]:
##print("\nQuestion 16: Find the maximum value in each sublist of [[1, 5, 3], [9, 2, 7], [4, 8, 6]]")
nested_li=[[1, 5, 3], [9, 2, 7], [4, 8, 6]]
maximum=[]
for i in nested_li:
    maximum.append(max(i))
print(maximum)

[5, 9, 8]

In [21]:
##print("\nQuestion 17: Create a 3D list: [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]")
three_d_list=[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
three_d_list

[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

In [23]:
##print("\nQuestion 18: Find the sum of all elements in 3D list [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]")
list3=[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
total=0
for i in list3:
    for j in i:
        for items in j:
            total=total+items
print(total)

36

In [24]:
##print("\nQuestion 19: Extract all even numbers from nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]")
two_d_list=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
even=[]
for i in two_d_list:
    for j in i:
        if j %2==0:
            even.append(j)
print(even)

[2, 4, 6, 8]

In [25]:
##print("\nQuestion 20: Create a list of mixed data types: [1, 'hello', 3.14, True, [1, 2, 3]]")
mixed_d_list=[1, 'hello', 3.14, True, [1, 2, 3]]
mixed_d_list

[1, 'hello', 3.14, True, [1, 2, 3]]

In [26]:
##print("\nQuestion 21: Find the length of each string in ['apple', 'banana', 'cherry', 'date']")
strings= ['apple', 'banana', 'cherry', 'date']
length=[]
for i in strings:
    length.append(len(i))
print(length)

[5, 6, 6, 4]

In [1]:
##print("\nQuestion 22: Create a list of tuples: [(1, 'a'), (2, 'b'), (3, 'c')]")
list_of_tuple=[(1, 'a'), (2, 'b'), (3, 'c')]
list_of_tuple

[(1, 'a'), (2, 'b'), (3, 'c')]