In [2]:
# Question 1: Create a set of first 10 natural numbers
print("Question 1: Create a set of first 10 natural numbers")
numbers=set(range(1,11))
print(numbers)

Question 1: Create a set of first 10 natural numbers
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [4]:
# Question 2: Add element 11 to set {1, 2, 3, 4, 5}
print("\nQuestion 2: Add element 11 to set {1, 2, 3, 4, 5}")
elements={1, 2, 3, 4, 5}
elements.add(11)
print(elements)

Question 2: Add element 11 to set {1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 11}

In [5]:
# Question 3: Remove element 3 from set {1, 2, 3, 4, 5, 6}
print("\nQuestion 3: Remove element 3 from set {1, 2, 3, 4, 5, 6}")
element={1, 2, 3, 4, 5, 6}
element.remove(3)
print(element)

Question 3: Remove element 3 from set {1, 2, 3, 4, 5, 6}
{1, 2, 4, 5, 6}

In [8]:
# Question 4: Find the intersection of {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}
print("\nQuestion 4: Find the intersection of {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}")
inter1={1, 2, 3, 4, 5}
inter2= {4, 5, 6, 7, 8}
result=inter1.intersection(inter2)
print(result)

Question 4: Find the intersection of {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}
{4, 5}

In [9]:
# Question 4: Find the intersection of {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}
print("\nQuestion 4: Find the intersection of {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}")
inter1={1, 2, 3, 4, 5}
inter2= {4, 5, 6, 7, 8}
result=inter1&inter2
print(result)

Question 4: Find the intersection of {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}
{4, 5}

In [13]:
# Question 5: Find the difference between {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}
print("\nQuestion 5: Find the difference between {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}")
differ1={1, 2, 3, 4, 5}
differ2={4, 5, 6, 7, 8}
res=differ1-differ2
print(f"The item which is not in the second set are:{res}")
ress=differ2-differ1
print(f"The item which is not in the first set are:{ress}")

Question 5: Find the difference between {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}
The item which is not in the second set are:{1, 2, 3}
The item which is not in the first set are:{8, 6, 7}

In [15]:
# Question 6: Check if 5 is in set {1, 2, 3, 4, 6, 7, 8}
print("\nQuestion 6: Check if 5 is in set {1, 2, 3, 4, 6, 7, 8}")
num={1, 2, 3, 4, 6, 7, 8}
for i in num:
    if i==5:
        print("The 5 is exicting in the set.")
else:
     print("The 5 doesnt exist in the set.")

Question 6: Check if 5 is in set {1, 2, 3, 4, 6, 7, 8}
The 5 doesnt exist in the set.

In [18]:
# Question 6: Check if 5 is in set {1, 2, 3, 4, 6, 7, 8}
print("\nQuestion 6: Check if 5 is in set {1, 2, 3, 4, 6, 7, 8}")
#Another way to find whther the 5 is present in the set:
num={1, 2, 3, 4, 6, 7, 8}
print("5"  in num)

Question 6: Check if 5 is in set {1, 2, 3, 4, 6, 7, 8}
False

In [20]:
# Question 7: Find the length of set {'a', 'b', 'c', 'd', 'e'}
print("\nQuestion 7: Find the length of set {'a', 'b', 'c', 'd', 'e'}")
alpha_set={'a', 'b', 'c', 'd', 'e'}
len_alpha_set=len(alpha_set)
print(len_alpha_set)

Question 7: Find the length of set {'a', 'b', 'c', 'd', 'e'}
5

In [24]:
# Question 8: Create a set of vowels from string "hello world"
print("\nQuestion 8: Create a set of vowels from string 'hello world'")
sentence='hello world'
vowels="aeiou"
for i in sentence:
    if i in vowels:
        print(i, end="  ")

Question 8: Create a set of vowels from string 'hello world'
e  o  o

In [28]:
# Question 9: Remove duplicates from list [1, 2, 2, 3, 4, 4, 5, 6, 6, 7] using set
print("\nQuestion 9: Remove duplicates from list [1, 2, 2, 3, 4, 4, 5, 6, 6, 7] using set")
dupi_list=[1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
dupi_to_set=set(list(dupi_list))
dupi_to_set

Question 9: Remove duplicates from list [1, 2, 2, 3, 4, 4, 5, 6, 6, 7] using set

{1, 2, 3, 4, 5, 6, 7}

In [29]:
# Question 10: Check if {1, 2, 3} is a subset of {1, 2, 3, 4, 5, 6}
print("\nQuestion 10: Check if {1, 2, 3} is a subset of {1, 2, 3, 4, 5, 6}")
set1= {1, 2, 3}
set2={1, 2, 3, 4, 5, 6}
r=set1|set2
print(r)

Question 10: Check if {1, 2, 3} is a subset of {1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}