In [ ]:
# Question 1: Create a tuple of first 10 natural numbers
print("Question 1: Create a tuple of first 10 natural numbers")
first_10=tuple(range(1,11))

Question 1: Create a tuple of first 10 natural numbers
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [2]:
# Question 2: Find the length of tuple (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print("\nQuestion 2: Find the length of tuple (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)")
first_10=(1,2,3,4,5,6,7,8,9,10)
length=len(first_10)
print(length)

Question 2: Find the length of tuple (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
10

In [2]:
# Question 3: Access the 3rd element from tuple ('a', 'b', 'c', 'd', 'e')
print("\nQuestion 3: Access the 3rd element from tuple ('a', 'b', 'c', 'd', 'e')")
alpha=('a', 'b', 'c', 'd', 'e')
alpha[2]

Question 3: Access the 3rd element from tuple ('a', 'b', 'c', 'd', 'e')

'c'

In [3]:
# Question 4: Find the maximum value in tuple (23, 45, 12, 67, 34, 89, 56)
print("\nQuestion 4: Find the maximum value in tuple (23, 45, 12, 67, 34, 89, 56)")
tuple_list=(23, 45, 12, 67, 34, 89, 56)
max_tuple_lis=max(tuple_list)
print(max_tuple_lis)

Question 4: Find the maximum value in tuple (23, 45, 12, 67, 34, 89, 56)
89

In [5]:
# Question 5: Count how many times 5 appears in (1, 5, 2, 5, 3, 5, 4, 5, 6)
print("\nQuestion 5: Count how many times 5 appears in (1, 5, 2, 5, 3, 5, 4, 5, 6)")
tup=(1, 5, 2, 5, 3, 5, 4, 5, 6)
count_tup=tup.count(5)
print(count_tup)

Question 5: Count how many times 5 appears in (1, 5, 2, 5, 3, 5, 4, 5, 6)
4

In [6]:
# Question 6: Create a tuple of mixed data types (integer, float, string, boolean)
print("\nQuestion 6: Create a tuple of mixed data types (integer, float, string, boolean)")
tup_mixed=(3,2.5,"Chanz",True)
print(tup_mixed)

Question 6: Create a tuple of mixed data types (integer, float, string, boolean)
(3, 2.5, 'Chanz', True)

In [7]:
# Question 7: Find the index of element 'python' in ('java', 'python', 'c++', 'javascript')
print("\nQuestion 7: Find the index of element 'python' in ('java', 'python', 'c++', 'javascript')")
tup_in=('java', 'python', 'c++', 'javascript')
tup_index=tup_in.index('python')
print(tup_index)

Question 7: Find the index of element 'python' in ('java', 'python', 'c++', 'javascript')
1

In [8]:
# Question 8: Check if 25 exists in tuple (10, 20, 30, 40, 50)
print("\nQuestion 8: Check if 25 exists in tuple (10, 20, 30, 40, 50)")
tuplee=(10, 20, 30, 40, 50)
if tuplee==25:
    print("The number 25 exists")
else:
    print("The number 25 doesnt exists")

Question 8: Check if 25 exists in tuple (10, 20, 30, 40, 50)
The number 25 doesnt exists

In [9]:
# Question 9: Create a tuple of first 5 even numbers
print("\nQuestion 9: Create a tuple of first 5 even numbers")
number=5
for i in range(number):
    print(i)

Question 9: Create a tuple of first 5 even numbers
0
1
2
3
4

In [11]:
# Question 10: Find the average of numbers in tuple (15, 23, 31, 42, 56, 78)
print("\nQuestion 10: Find the average of numbers in tuple (15, 23, 31, 42, 56, 78)")
tuple_final=(15, 23, 31, 42, 56, 78)
avg_tuple=sum(tuple_final)/len(tuple_final)
print(avg_tuple)

Question 10: Find the average of numbers in tuple (15, 23, 31, 42, 56, 78)
40.833333333333336